@charset "utf-8";
*{
   font-family: Arial, Helvetica, sans-serif; 
}
h1{
    text-align: center;
    margin: 0px;
}
section{
    background-color: brown;
    width: 400px;
    margin: auto;
    padding: 10px;
}
footer{
    text-align: center;
    margin:0px;
}
#imgC{
 text-align: center;
}