@charset "utf-8";
*{
    font-size: 1.05em;
}
h1{
    text-align: center;
}
section{
    background-color: brown;
    width: 600px;
    margin: auto;
    padding: 30px;
}
footer{
    text-align: center;
}